html{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
html{
    background-color:brown;
}
body{
    width: 619px;
    margin: 0px auto;
    background-color: #FF9500;
    padding: 20px 20px 20px 20px; 
    /* top right bottom left
    if bottom is not mentioned 
    it will have same padding as of top*/
    border: 5px solid black;                    
}

h1{
    font-size: 60px;
    text-align: center; 
    margin: 0;
    padding: 20px 0px;
    color: #00539F;
    text-shadow: 5px 3px 1px black;
    /* horizontal - vertical - blur */
}
img{
    display: block;
    margin: 0 auto;
    /*0 for top-bottom and auto for left-right*/
}
p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

/* Flex Box*/

.headerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: tomato;
    font-weight: bold;
    padding: 10px;
  }
  .footerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: lightgreen;
    font-weight: bold;
    padding: 10px;
  }
  .mainContainer{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  article{
    padding: 10px;
    margin: 10px;
    background: aqua;
  }
  .mainContentItem{
    text-align: left;
    background: deepskyblue;
  }
  .sideBarLeftItem{background: gold;}
  .sideBarRightItem{background: hotpink;}
  .sideBarItem{
    flex: 1 0 0px;
    border: 0px solid green;
  }
  .mainContentItem{flex: 4 0 0px;}
  .sideBarLeftItem{order: 1;}
  .mainContentItem{order: 2;}
  .sideBarRightItem{order: 3;}
/*.............................Image card............................ */
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .cards img {
    margin: 20px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 25vw;
  }
/*.............................mdeia object............................ */
  .media {
   
    background: #F6F3EB;
    padding: 1em;
    border-radius: 3px;
    max-width: 24em;
    text-align: justify;
  }

  .media-object {
    margin-left: 1em;
    order: 1;
    max-width: 15vw;
    max-height: 15vw;
  }

  .media-body {
    flex: 1;
  }

  .media-heading {
    margin: 0 0 .5em;
  }
  /*............................card........................... */
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .card {
    flex: 0 0 260px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .card img {
    max-width: 100%;
  }

  .card .text {
    padding: 0 20px 20px;
  }

  .card .text>button { /* > means immediate childs of text that are button not nested childs*/
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
  }
 